Checks: >
    bugprone-*,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    -misc-no-recursion,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readibility-*
CheckOptions:
    - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
      value: true
    - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
      value: true
    - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
      value: true
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: true
    - key: misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
      value: true
    - key: cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
      value: true
    - key: cppcoreguidelines-avoid-magic-numbers.IgnoreAllFloatingPointValues
      value: true
